In [1]:
"""When you can run a Z Test.
Several different types of tests are used in statistics (i.e. f test, chi square test, t test). You would use a Z test if:
Your sample size is greater than 30. Otherwise, use a t test.
Data points should be independent from each other. In other words, one data point isn’t related or doesn’t affect another data point.
Your data should be normally distributed. However, for large sample sizes (over 30) this doesn’t always matter.
Your data should be randomly selected from a population, where each item has an equal chance of being selected.
Sample sizes should be equal if at all possible."""

'When you can run a Z Test.\nSeveral different types of tests are used in statistics (i.e. f test, chi square test, t test). You would use a Z test if:\nYour sample size is greater than 30. Otherwise, use a t test.\nData points should be independent from each other. In other words, one data point isn’t related or doesn’t affect another data point.\nYour data should be normally distributed. However, for large sample sizes (over 30) this doesn’t always matter.\nYour data should be randomly selected from a population, where each item has an equal chance of being selected.\nSample sizes should be equal if at all possible.'

# one-sample Z test

In [3]:
#we are using z-test for blood pressure with some mean like 156 for one-sample Z test

df = pd.read_csv("blood_pressure.csv")
df

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
5          6    Male  30-45        150       147
6          7    Male  30-45        148       133
7          8    Male  30-45        153       141
8          9    Male  30-45        153       131
9         10    Male  30-45        158       125
10        11    Male  30-45        149       164
11        12    Male  30-45        173       159
12        13    Male  30-45        165       135
13        14    Male  30-45        145       159
14        15    Male  30-45        143       153
15        16    Male  30-45        152       126
16        17    Male  30-45        141       162
17        18    Male  30-45        176       134
18        19    Male  30-45        143       136
19        20    Male  30-45        162       150
20        21    Male  46-59        149       168
21        22    Male  46-59        156       155
22        23    Male  46-59        151       136
23        24    Male  46-59        159       132
24        25    Male  46-59        164       160
25        26    Male  46-59        154       160
26        27    Male  46-59        152       136
27        28    Male  46-59        142       183
28        29    Male  46-59        162       152
29        30    Male  46-59        155       162
..       ...     ...    ...        ...       ...
90        91  Female  46-59        142       145
91        92  Female  46-59        162       132
92        93  Female  46-59        144       157
93        94  Female  46-59        142       140
94        95  Female  46-59        159       137
95        96  Female  46-59        140       154
96        97  Female  46-59        144       169
97        98  Female  46-59        142       145
98        99  Female  46-59        145       137
99       100  Female  46-59        145       143
100      101  Female    60+        168       178
101      102  Female    60+        142       141
102      103  Female    60+        147       149
103      104  Female    60+        148       148
104      105  Female    60+        162       138
105      106  Female    60+        170       143
106      107  Female    60+        173       167
107      108  Female    60+        151       158
108      109  Female    60+        155       152
109      110  Female    60+        163       154
110      111  Female    60+        183       161
111      112  Female    60+        159       143
112      113  Female    60+        148       159
113      114  Female    60+        151       177
114      115  Female    60+        165       142
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [9]:
df['bp_before'].describe()

count    120.000000
mean     156.450000
std       11.389845
min      138.000000
25%      147.000000
50%      154.500000
75%      164.000000
max      185.000000
Name: bp_before, dtype: float64

In [6]:
import pandas as pd
from scipy import stats
from statsmodels.stats import weightstats as stests
ztest ,pval = stests.ztest(df['bp_before'], x2=None, value=156)
print(float(pval))
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.6651614730255063
accept null hypothesis

# Two-sample Z test

In two sample z-test , similar to t-test here we are checking two independent data groups and deciding whether sample mean of two group is equal or not.  

H0 : mean of two group is 0   
H1 : mean of two group is not 0

In [8]:
#we are checking in blood data after blood and before blood data.(code in python below)
df = pd.read_csv("blood_pressure.csv")
df

     patient     sex agegrp  bp_before  bp_after
0          1    Male  30-45        143       153
1          2    Male  30-45        163       170
2          3    Male  30-45        153       168
3          4    Male  30-45        153       142
4          5    Male  30-45        146       141
5          6    Male  30-45        150       147
6          7    Male  30-45        148       133
7          8    Male  30-45        153       141
8          9    Male  30-45        153       131
9         10    Male  30-45        158       125
10        11    Male  30-45        149       164
11        12    Male  30-45        173       159
12        13    Male  30-45        165       135
13        14    Male  30-45        145       159
14        15    Male  30-45        143       153
15        16    Male  30-45        152       126
16        17    Male  30-45        141       162
17        18    Male  30-45        176       134
18        19    Male  30-45        143       136
19        20    Male  30-45        162       150
20        21    Male  46-59        149       168
21        22    Male  46-59        156       155
22        23    Male  46-59        151       136
23        24    Male  46-59        159       132
24        25    Male  46-59        164       160
25        26    Male  46-59        154       160
26        27    Male  46-59        152       136
27        28    Male  46-59        142       183
28        29    Male  46-59        162       152
29        30    Male  46-59        155       162
..       ...     ...    ...        ...       ...
90        91  Female  46-59        142       145
91        92  Female  46-59        162       132
92        93  Female  46-59        144       157
93        94  Female  46-59        142       140
94        95  Female  46-59        159       137
95        96  Female  46-59        140       154
96        97  Female  46-59        144       169
97        98  Female  46-59        142       145
98        99  Female  46-59        145       137
99       100  Female  46-59        145       143
100      101  Female    60+        168       178
101      102  Female    60+        142       141
102      103  Female    60+        147       149
103      104  Female    60+        148       148
104      105  Female    60+        162       138
105      106  Female    60+        170       143
106      107  Female    60+        173       167
107      108  Female    60+        151       158
108      109  Female    60+        155       152
109      110  Female    60+        163       154
110      111  Female    60+        183       161
111      112  Female    60+        159       143
112      113  Female    60+        148       159
113      114  Female    60+        151       177
114      115  Female    60+        165       142
115      116  Female    60+        152       152
116      117  Female    60+        161       152
117      118  Female    60+        165       174
118      119  Female    60+        149       151
119      120  Female    60+        185       163

[120 rows x 5 columns]

In [11]:
df[['bp_before','bp_after']].describe()

        bp_before    bp_after
count  120.000000  120.000000
mean   156.450000  151.358333
std     11.389845   14.177622
min    138.000000  125.000000
25%    147.000000  140.750000
50%    154.500000  149.500000
75%    164.000000  161.000000
max    185.000000  185.000000

In [12]:
ztest ,pval1 = stests.ztest(df['bp_before'], x2=df['bp_after'], value=0,alternative='two-sided')
print(float(pval1))
if pval<0.05:
    print("reject null hypothesis")
else:
    print("accept null hypothesis")

0.002162306611369422
accept null hypothesis